body {
    background: #d3c4f5;
}

.header {
    display: flex;
    justify-content:$justify-content ;
    display: $header;
    background-color: #48a363;
    border-bottom: 7px solid #e8e2df;
    
}

.middle:hover{
    background: #48a363;
    color: #e8e2df;
    transition: transform 1.5s;
    transform: skewY(10deg) scale(1.1);
    box-shadow: 10px 5px 5px #000000;
}
.landing-text{
    background: #e8e2df;
    padding: 1rem 3rem;
    margin: 1rem;
    font-size: x-large;
}

.landing-text:hover {
    background: #48a363;
    color: #e8e2df;
    transition: background 1.5s;
}

.landing-image:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}



.title {
    padding-top: 3rem;
    margin:0 auto;
}

.title a {
    text-decoration: none;
}


.site-header{
    display: flex;
    justify-content: space-between;
}



/* Footer */

.footer {
    display: $footer-display;
    justify-content: $justify-content;
    border-top: $footer-border;
    background-color:$footer-color;
    color: $footer-text-color;
    padding:$footer-padding;
}

.footer a {
    color: $footer-link;
}

.footer .social {
    font-size: $footer-social;
}

.center-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.main {
    width: 70%;
    margin: 0 auto;
}

.social a {

    text-decoration: none;


}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 5px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}