body {
    background: $backround-color;
}


.header {
    justify-content:$justify-content ;
    display: $header;
}

.middle {
    display: $img-display;
    margin-left: $margin-left;
    margin-right: $margin-right;
    width: $width;
}

/* Footer */

.footer {
    display: $footer-display;
    justify-content: $justify-content;
    border-top: $footer-border;
    background-color:$footer-color;
    color: $footer-text-color;
    padding:$footer-padding;
}

.footer a {
    color: $footer-link;
}

.footer .social {
    font-size: $footer-social;
}

.center-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}