body {
    background-color: $background-color
}


.header {
    justify-content:$justify-content ;
    display: $header;
    
}



/* Footer */

.footer {
    display: $footer-display;
    justify-content: $justify-content;
    border-top: $footer-border;
    background-color:$footer-color;
    color: $footer-text-color;
    padding:$footer-padding;
}

.footer a {
    color: $footer-link;
}

.footer .social {
    font-size: $footer-social;
}

.center-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.main {

    width: 64em;
    margin: 0 auto;
}

.social a {

    text-decoration: none;


}