@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';


@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';
@import 'typography';
@import 'base';
@import 'responsive';
@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'technology';
@import 'gallery';

body{
    background: rgb(00, 00, 08);
    color:rgb(255, 255, 255);
}

.nav {
    background-color: #253237;
}

.nav a {
    color:white;
}
.header {
    background:#253237;
    border-bottom: 4px solid rgb(236, 123, 2);
}

.footer {
    background: #253237;
    border-bottom: 2px solid rgb(236, 123, 2);
}

.box-small,.box-medium,.box-wide {
    border: 3px solid #ada3a3;
    display: grid;
    place-items: center;
    background-color:rgb(137, 137, 121);
    border-radius: .5em;
    text-decoration: none;
    
    &:hover {
        background-color: #cec6c6;
    }
}

.gallery {

    box-shadow: 10px 5px 5px rgb(255, 187, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 1rem 2rem;
    background: linear-gradient(rgb(236, 123, 2), rgb(252, 176, 0));
    padding: 1rem;
}

.h1-big{
    font-size:48px;
    text-align: center;
}

.img-container:hover{
    transform:scale(0.98, 0.98);
    transition: transform 0.2s ease-in-out;
    border: 5px solid rgb(0, 0, 0);
}