@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';


@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';
@import 'typography';
@import 'base';
@import 'responsive';
@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'technology';


.main{
    color: white;
}
.body{
    color:white;
}

.box-small,.box-medium,.box-wide {
    border: 3px solid #ada3a3;
    display: grid;
    place-items: center;
    background-color:rgb(137, 137, 121);
    border-radius: .5em;
    text-decoration: none;
    
    &:hover {
        background-color: #cec6c6;
    }
}